body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url('../web-XR/afb/tilleman.jpg');
    
}
.logo{
    padding: 0px;
}
.Plaatje{
    float: left;
    padding: 5px;
}
.Hoofd{
    content: "";
    clear: both;
    display: table;
    margin: auto;
    padding-top: 300px;
}
.copy{
    padding-top: 600px;
}
